# Ignore node_modules folder everywhere
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env

# Ignore frontend build artifacts (if applicable)
frontend/build

# Ignore package-lock.json or yarn.lock in frontend if you're not using them
# Optional if using package-lock or yarn.lock for dependency management
frontend/package-lock.json
frontend/yarn.lock
